footer {
  margin: 0;
  padding: 15px 0 10px 0;
  background-color: #DEDCDD;
  position: relative;
  color: #25304C;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  footer {
    padding: 15px 0;
  }
}
@media (min-width: 1220px) {
  footer .container.container-top-level {
    width: 1180px;
    padding: 0;
  }
}
footer .container .footer-column-logo {
  margin: 0 0 10px 0;
}
@media (min-width: 480px) {
  footer .container .footer-column-logo {
    margin: 0 0 20px 0;
  }
}
@media (min-width: 992px) {
  footer .container .footer-column-logo {
    margin: auto;
  }
}
footer .container .footer-column-logo .footer-logo-link {
  display: block;
}
footer .container .footer-column-logo .footer-logo-link .footer-logo {
  width: 142px;
}
@media (min-width: 480px) {
  footer .container .footer-column-logo .footer-logo-link .footer-logo {
    width: 230px;
  }
}
@media (min-width: 768px) {
  footer .container .footer-column-logo .footer-logo-link .footer-logo {
    width: 305px;
  }
}
footer .container .footer-nav-1 ul,
footer .container .footer-nav-2 ul {
  list-style: none;
  padding: 0;
}
footer .container .footer-nav-1 ul li a,
footer .container .footer-nav-2 ul li a {
  font-weight: bold;
  font-size: 10px;
  color: #25304C;
}
footer .container .footer-nav-1 ul li a:hover,
footer .container .footer-nav-2 ul li a:hover,
footer .container .footer-nav-1 ul li a:focus,
footer .container .footer-nav-2 ul li a:focus {
  text-decoration: none;
}
@media (min-width: 480px) {
  footer .container .footer-nav-1 ul li a,
  footer .container .footer-nav-2 ul li a {
    font-size: 12px;
  }
}
footer .container .footer-nav-1 {
  margin: 0;
}
@media (min-width: 992px) {
  footer .container .footer-nav-1 {
    margin: 0 0 0 100px;
  }
}
footer .container .footer-nav-1 ul {
  margin: 0;
}
footer .container .footer-nav-2 {
  margin: 0;
}
@media (min-width: 992px) {
  footer .container .footer-nav-2 {
    margin: 0 0 0 100px;
  }
}
footer .container .footer-nav-2 ul {
  margin: 0;
}
footer .container .footer-column-contact-social {
  text-align: right;
  display: block;
  position: absolute;
  top: 10px;
  right: 0px;
}
@media (min-width: 992px) {
  footer .container .footer-column-contact-social {
    position: inherit;
    top: inherit;
    right: inherit;
  }
}
footer .container .footer-column-contact-social .contact-number a {
  font-size: 10px;
  font-weight: bold;
  color: #25304C;
  text-decoration: none;
  letter-spacing: 1px;
}
@media (min-width: 480px) {
  footer .container .footer-column-contact-social .contact-number a {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  footer .container .footer-column-contact-social .contact-number a {
    font-size: 18px;
  }
}
footer .container .footer-column-contact-social .footer-social-wrapper {
  margin: -10px 0 0 0;
  text-align: right;
}
footer .container .footer-column-contact-social .footer-social-wrapper ul {
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
}
footer .container .footer-column-contact-social .footer-social-wrapper ul li {
  width: 22px;
  height: 22px;
  margin: 0 3px;
  display: inline-block;
}
footer .container .footer-column-contact-social .footer-social-wrapper ul li.social-facebook {
  background: url('../img/footer_fb.png') no-repeat;
  background-size: contain;
}
footer .container .footer-column-contact-social .footer-social-wrapper ul li.social-facebook a {
  display: block;
}
footer .container .footer-column-contact-social .footer-social-wrapper ul li.social-facebook img {
  display: none;
}
footer .container .footer-column-contact-social .footer-social-wrapper ul li.social-facebook:hover,
footer .container .footer-column-contact-social .footer-social-wrapper ul li.social-facebook:focus {
  background: none;
}
footer .container .footer-column-contact-social .footer-social-wrapper ul li.social-facebook:hover img,
footer .container .footer-column-contact-social .footer-social-wrapper ul li.social-facebook:focus img {
  display: block;
}
footer .container .footer-column-contact-social .footer-social-wrapper ul li.social-twiiter {
  background: url('../img/footer_twitter.png') no-repeat;
  background-size: contain;
}
footer .container .footer-column-contact-social .footer-social-wrapper ul li.social-twiiter a {
  display: block;
}
footer .container .footer-column-contact-social .footer-social-wrapper ul li.social-twiiter img {
  display: none;
}
footer .container .footer-column-contact-social .footer-social-wrapper ul li.social-twiiter:hover,
footer .container .footer-column-contact-social .footer-social-wrapper ul li.social-twiiter:focus {
  background: none;
}
footer .container .footer-column-contact-social .footer-social-wrapper ul li.social-twiiter:hover img,
footer .container .footer-column-contact-social .footer-social-wrapper ul li.social-twiiter:focus img {
  display: block;
}
